body{
   
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main-div{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    flex-direction: column;
}
.facebook-logo{
    text-align: center;
    display: block;
    padding-top: 20px;
    
}
.form-div{
    justify-content: center;
    
}
#form-heading{
    color: rgb(61, 61, 255);
    font-weight: 900;
    font-size: 40px;
}
.form-div{
    display:flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
#form-inputs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    margin: 50px;
    border-radius: 5px;
    box-shadow: rgb(31, 31, 29);
    box-shadow: color-mix(#f3ebf0, black 60%, gray 45%);
}
#name{
    margin-bottom: 20px;
    font-size: 20px;
    padding: 7px    4px;
}
#pass{

    font-size: 20px;
    margin-bottom: 20px;
    padding: 7px 4px; 
}
#login{
    font-size: 15px;
    padding: 10px 120px 10px 100px;
    background-color: rgb(61, 61, 255);
    color: #ffffff;
    border: none;

}
#or{
    margin: 5px 0px 5px 0px;
}
#a{
    margin-bottom: 20px;
}
a{
    font-size: 12px;
}
#heading-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#login:hover{
    background-color: blue;
}